html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* footer height */
}

section.advertisement {
	font-size: 12px;
}

/* footer */

footer {
	color: #888;
	font-size: 11px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}

	footer a,
	footer a:hover {
		color: #606060;
	}